.calendarBox{
	position: relative;
}
.calendar {
	position: absolute;
    z-index: 999;
    top: 35px;
    left: 0px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	line-height: 24px;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
}

@font-face {font-family: "calendarfont";
  src: url('./font/iconfont.eot?t=1510971927134'); /* IE9*/
  src: url('./font/iconfont.eot?t=1510971927134#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAAYoAAsAAAAACUQAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAADMAAABCsP6z7U9TLzIAAAE8AAAARAAAAFZXAUf2Y21hcAAAAYAAAAB1AAABwJpjApNnbHlmAAAB+AAAAf4AAAKUjTMoO2hlYWQAAAP4AAAALwAAADYPirn1aGhlYQAABCgAAAAcAAAAJAfeA4dobXR4AAAERAAAABMAAAAYF+kAAGxvY2EAAARYAAAADgAAAA4CoAHAbWF4cAAABGgAAAAfAAAAIAEVAF1uYW1lAAAEiAAAAUUAAAJtPlT+fXBvc3QAAAXQAAAAVgAAAIL78WLceJxjYGRgYOBikGPQYWB0cfMJYeBgYGGAAJAMY05meiJQDMoDyrGAaQ4gZoOIAgCKIwNPAHicY2Bk/sM4gYGVgYOpk+kMAwNDP4RmfM1gxMjBwMDEwMrMgBUEpLmmMDgwVDzjYG7438AQw9zAMBkozAiSAwAl6wyLeJzFkcEJxDAMBEexcxiTUlLFvVNLXvdwxWojWdkmcBVkxQhpEcjIwAoksYsM9sMInXKt+4na/cxXfaWwKJqbr16uS15znnrINFfZFFFnbVlii314Tfbe6n9tPR+zi/u3iZ7oDOIv3AYx4xPdES8D0g1WlxWCAAAAeJxlkU1r1EAcxueZmOxuNzPJJtlkk82+JNlNVqorrnF7ENuLF6tQoSB4EBE9FKHireJLWQorCh6KKJaiB0Xw7nnBr+AH8CL6DTyJODqpCqUd5vQ7PG9/ohLy+4syUxrEJgNykpwjlwiBNo+Y0xaiLB/SedQjte45XMmSLCol8VA5Cy/WHHc0zlNPK2kGONo4FY3G2ZBmOJ0v0jMYuS3AbwarVj+0lG3MNbL2VCzTt6h3ktBYPC7OH1tyRl27vKFblm9ZT8uaqpYpPWJwrHtuRa3MaeKdagT1Weco7UD3s+DiFdZtWtcf57dbfa8CTCawm13+fqkW1OR/ELi25ZdMVm4ELOk52PhWbdh6K/1K5IPsuk5/0J/EJKSC8ch1ShUZXEszpDls7PIkYGKKu5wGqSFuMaxilwUJF1PxxOw3FY6XLCFU6jxUZvQzqZFeodTGOM2kYJ7GJWiOFzneQYbv2OQ9n3LxCmu6H+vinq6La7LBPhoxcZ+hKrYY9RMDN7DGIl+XLGKAmByislOR5ZPyUTnxP8sQmiuXKa6zIN2zKM8OMsrE1p4rboqdIgse6TreSId9VFpOmYSbe67itdgpXCUrsmByiP7b95lSVa7+3VeL03yhCDR2PbgO/SWWeRpyPBd3TBoOTHzguCwu8DDleIFtcxBSU6wY/T/dwXfPAAB4nGNgZGBgAGKV2p4v8fw2Xxm4WRhA4JrpbnEE/T+XhYE5FsjlYGACiQIAGPMJZgB4nGNgZGBgbvjfwBDDwgACQJKRARWwAQBHDAJveJxjYWBgYH7JwMDCgIoBEp8BAQAAAAAAAHYAmgDgASYBSgAAeJxjYGRgYGBjCGRgZQABJiDmAkIGhv9gPgMAEUgBcwB4nGWPTU7DMBCFX/oHpBKqqGCH5AViASj9EatuWFRq911036ZOmyqJI8et1ANwHo7ACTgC3IA78EgnmzaWx9+8eWNPANzgBx6O3y33kT1cMjtyDRe4F65TfxBukF+Em2jjVbhF/U3YxzOmwm10YXmD17hi9oR3YQ8dfAjXcI1P4Tr1L+EG+Vu4iTv8CrfQ8erCPuZeV7iNRy/2x1YvnF6p5UHFockikzm/gple75KFrdLqnGtbxCZTg6BfSVOdaVvdU+zXQ+ciFVmTqgmrOkmMyq3Z6tAFG+fyUa8XiR6EJuVYY/62xgKOcQWFJQ6MMUIYZIjK6Og7VWb0r7FDwl57Vj3N53RbFNT/c4UBAvTPXFO6stJ5Ok+BPV8bUnV0K27LnpQ0kV7NSRKyQl7WtlRC6gE2ZVeOEXpc0Yk/KGdI/wAJWm7IAAAAeJxjYGKAAC4G7ICNkYmRmZGFkZWRjZGdgbFCsCgzJzMrMzGvJL+0qjQ/JTFPBFWkOKM0MS9dJDkjtawoP0+3KDM9o0Q3Jb80KSdVCEOvIQMDAGQ6IBUAAA==') format('woff'),
  url('./font/iconfont.ttf?t=1510971927134') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./font/iconfont.svg?t=1510971927134#iconfont') format('svg'); /* iOS 4.1- */
}

.calendar-icon {
  font-family:"calendarfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.calendar-icon-l:before { content: "\e605"; }

.calendar-icon-l-s:before { content: "\e608"; }

.calendar-icon-r-s:before { content: "\e600"; }

.calendar-icon-r:before { content: "\e601"; }

.calendar{
	width: 272px;
	border: 1px solid #d2d2d2;
    box-shadow: 0 2px 4px rgba(0,0,0,.12);
    background-color: #fff;
    color: #666;
}
.calendar-header{
	border-bottom: 1px solid #e2e2e2;
	position: relative;
    line-height: 30px;
    padding: 10px 70px 10px;
}
.calendar-set-ym span{
	cursor: pointer;
	padding: 0 5px;
}
.calendar-icon{
	position: absolute;
    top: 10px;
    color: #999;
    font-size: 18px;
    cursor: pointer;
}
.calendar-icon:hover,
.calendar-set-ym span:hover{
	color: #5FB878;
}
.calendar-icon-l-s{
	left: 15px;
}
.calendar-icon-l{
	left: 45px;
}
.calendar-icon-r{
	right: 45px;
}
.calendar-icon-r-s{
	right: 15px;
}
.calendar-year-header .calendar-icon-l,
.calendar-year-header .calendar-icon-r{
	display: none !important;
}
.calendar-set-ym{
	text-align: center;
}
.calendar-content{
	height: 210px;
	margin: 5px auto;
}
.calendar ul li{
	list-style: none;
}
.calendar ul{
	font-size: 0;
	width: 252px;
	margin: 0 auto;
}
.calendar li{
	font-size: 14px;
	display: inline-block;
	height: 36px;
    line-height: 36px;
    margin: 3px 0;
    text-align: center;
    cursor: pointer;
}
.calendar li:hover{
	background-color: #eaeaea;
    color: #333;
}
.calendar li.active{
	background-color: #009688!important;
    color: #fff!important;
}
.calendar-content-year-list li{
	width: 84px;
}
.calendar-content-month-list li{
	width: 25%;
    margin: 17px 0;
}
.calendar table {
	margin: 0 auto;
	border-collapse: collapse;
	border-spacing: 0;
}
.calendar th,
.calendar td{
	width: 36px;
    height: 30px;
    text-align: center;
}
.calendar td{
	color: #666666;
	position: relative;
    cursor: pointer;
}
.calendar td:not(.disable):not(.active):hover{
	background-color: #eaeaea;
    color: #333;
}
.calendar td.disable{
	color: #d2d2d2;
	cursor: default;
}
.calendar td.active{
	background-color: #009688;
    color: #fff;
}
